* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px sans-serif;
    margin: 0;
    background: #eee;
}

.game {
    text-align: center;
    padding: 64px 0;
}

.gameSettings {
    text-align: center;
}

.settings {
    display: inline-block;
}

.settingsInput {
    border-radius: 5px 0 0 5px;
    border: 1px solid #323539;
    height: 32px;
    padding-left: 8px;
    outline: none;
}

.settingsButton {
    background: #323539;
    border: 1px solid #323539;
    color: #fff;
    outline: none;
    border-radius: 0 5px 5px 0;
    height: 32px;
    padding: 0 8px;
    cursor: pointer;
}

.settingsButton:hover {
    background: #212529;
    border: 1px solid #212529;
}

.settingsButton:hover .settingsInput {
    border: 1px solid #212529;
}

.gameFlex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 32px 0;
}

.gameHistory,
.gameBoard,
.gameInfo {
    flex: 1;
}

.gameBoard {
	flex-basis: 100%;
}

.status {
	margin-bottom: 16px;
	text-align: center;
}

.status span {
	font-weight: bold;
	background: #212529;
	color: #fff;
	padding: 8px 16px;
	display: inline-block;
    border-radius: 5px;
    white-space: nowrap;
}

.grid {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #323539;
    display: inline-block;
}

.tile {
    background: transparent;
    border: none;
    outline: none;
    border-right: 1px solid #323539;
    border-bottom: 1px solid #323539;
    float: left;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    height: 48px;
    width: 48px;
    padding: 0;
    cursor: pointer;
    transition: background-color .2s;
}

.tile:hover {
    background: #eee;
}

.tile.disabled {
    background: #eee;
    cursor: normal;
}

.tile.highlight {
    background: #d9534f;
}

.gameBoard.small .tile {
    line-height: 32px;
    height: 32px;
    width: 32px;
}

.gameBoard.disabled .grid {
    background: #eee;
}

.gameBoard.disabled .tile {
    cursor: normal;
}

.tile:last-child {
    border-right: none;
}

.gridRow:last-child .tile {
    border-bottom: none;
}

.gridRow:after {
    clear: both;
    content: "";
    display: table;
}

.gameInfo {
	text-align: right;
}

.info {
	min-width: 200px;
	border-radius: 5px 0 0 5px;
	overflow: hidden;
	display: inline-block;
}

.infoRow {
    background: #2c3034;
}

.infoRow:nth-child(odd) {
    background: #212529;
}

.infoRow:hover {
    background: #323539;
}

.infoButton {
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    display: block;
    padding: 8px 0;
    cursor: pointer;
    border-bottom: 1px solid #333;
    font-weight: bold;
}

.gameHistory {
	text-align: left;
}

.history {
    min-width: 200px;
	display: inline-block;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.historyRow {
	background: #2c3034;
    color: #fff;
    display: block;
    padding: 8px 16px;
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.historyRow span {
	display: block;
	white-space: nowrap;
}

.historyRow:nth-child(odd) {
    background: #212529;
}

.historyRow:hover {
    background: #323539;
}